@{
    ViewData["Title"] = "Знакомство с нашей клиникой";
}

<div class="container-fluid pb-5">
    <div class="container table-responsive">
        <div class="row">
            <div class="col-md-6 bg-gray p-5">
                <h1>
                    <b class="display-6">@ViewData["Title"]</b>
                </h1>
                <br />
                <h6>
                    «Мы заботимся о самом ценном»
                </h6>
            </div>
            <div class="col-md-6 bg-gray p-5">
                <h1 class="display-6">
                    Ветеринарная клиника "VETLINE" оказывает широкий
                    спектр ветеринарных услуг:
                </h1>
                <br />
                <ul>
                    <li>Биохимия крови, клинический анализ крови, анализ мочи и тд.</li>
                    <li>Экспресс тестирование инфекционных болезней.</li>
                    <li>Хирургия, терапия, стоматология, вакцинация, чипирование.</li>
                </ul>
                <br />
                <h5>
                    В нашей клинике работают не просто
                    высококвалифицированные врачи, в первую очередь,
                    это неравнодушные и любящие животных люди,
                    которые к каждому четвероногому пациенту относятся с
                    вниманием и заботой.
                </h5>
            </div>
        </div>
    </div>
</div>