@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid block">

    <div class="background img1 pt-5">
        <div class="container table-responsive p-5">
            <h6 class="display-6">
                «Мы заботимся о самом ценном»
            </h6>
            <br />
            <h1 class="display-2">
                <b>Ветеринарная клиника в городе Темиртау</b>
            </h1>
            <br />
            <h6 class="display-6">
                Каждое 20 число месяца льготная стерилизация кошек и кастрация котов
            </h6>

            <div class="container pt-5">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary btn-lg" onclick='window.location.href=/Home/Contacts'>Записаться на приём</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pb-5">
        <div class="container table-responsive">
            <div class="row">
                <div class="col-md-6 bg-gray p-5">
                    <h1>
                        <b class="display-6">Знакомство с нашей клиникой</b>
                    </h1>
                    <br />
                    <h6>
                        «Мы заботимся о самом ценном»
                    </h6>
                </div>
                <div class="col-md-6 bg-gray p-5">
                    <h1 class="display-6">
                        Ветеринарная клиника "VETLINE" оказывает широкий
                        спектр ветеринарных услуг:
                    </h1>
                    <br />
                    <ul>
                        <li>Биохимия крови, клинический анализ крови, анализ мочи и тд.</li>
                        <li>Экспресс тестирование инфекционных болезней.</li>
                        <li>Хирургия, терапия, стоматология, вакцинация, чипирование.</li>
                    </ul>
                    <br />
                    <h5>
                        В нашей клинике работают не просто
                        высококвалифицированные врачи, в первую очередь,
                        это неравнодушные и любящие животных люди,
                        которые к каждому четвероногому пациенту относятся с
                        вниманием и заботой.
                    </h5>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid blue-block pb-5">
        <div class="container">
            <h6 class="text-center display-4 pt-4">
                Наши услуги
            </h6>

            <div class="mt-5">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Осмотр и консультация
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Первичный прием и клинический осмотр
                                        <span class="badge bg-primary pill">2000 тенге</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Повторный прием и клиничесий осмотр
                                        <span class="badge bg-primary pill">1000 тенге</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Консультация без животного
                                        <span class="badge bg-primary pill">1000 тенге</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Выезд врача (без стоимости проезда)
                                        <span class="badge bg-primary pill">2000 тенге</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Выезд врача на дом (в рабочее время)
                                        <span class="badge bg-primary pill">3000 тенге</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Выезд ассистента на дом
                                        <span class="badge bg-primary pill">2000 тенге</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Предоперационная консультация
                                        <span class="badge bg-primary pill">1000 тенге</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Терапия. Манипуляции
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Инъекция
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Косметические операции
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Хирургия
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5 pb-5">
        <div class="container table-responsive">
            <div class="row">
                <div class="col-md-6 bg-gray p-5">
                    <h1 class="display-5">
                        <b>Вызов врача на дом</b>
                    </h1>
                    <br />
                    <p class="text-justify lh-lg pt-2">
                        <b>
                            Если ваш питомец не транспортабелен, в
                            критическом состоянии или плохо переносит
                            поездки, вызовите ветеринара на дом. Врач
                            проведет осмотр,     назначит лечение и даст
                            рекомендации по уходу и питанию.
                        </b>
                    </p>
                    <h6 class="text-justify lh-lg pt-2">
                        Для вызова ветеринара звоните по номеру:
                        <br />
                        <br />
                        8 7083212924
                        <br />
                        8 7213900530
                    </h6>

                    <div class="container pb-5">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary btn-md" onclick='window.location.href=/Home/Contacts'>Вызвать врача</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="container">
                        <img src="~/call-image.png" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5 pb-5 bg-gray">
        <div class="container table-responsive">
            <div class="row">
                <div class="col-md-6 p-5">
                    <h1 class="display-5">
                        <b>Преимущества вызова ветеринара на дом</b>
                    </h1>
                    <br />
                    <p class="text-justify lh-lg pt-2">
                        Вызывная ветслужба -
                        это отличная альтернатива обращения с питомцем в клинику.
                        <br />
                        Приезд ветеринара на дом имеет следующие преимущества:
                    </p>
                    <ul class="list-group list-group-flush font-weight-light text-justify lh-lg pt-2">
                        <li class="list-group-item">
                            Экономия времени на транспортировку питомца
                            в клинику и обратно, ожидание своей очереди. Даже предвартельная
                            запись к врачу не дает гарантии, что питомца примут в точно назначенное время.
                        </li>
                        <li class="list-group-item">
                            Экономия средств на перевозку животного.
                            Особенно это актуально для тех, кто не имеет собственного транспорта
                            и вынужден пользоваться услугами такси.
                        </li>
                        <li class="list-group-item">
                            Возможности получить помощь круглосуточно.
                            Ветеринар приедет на дом в удобное для вас время, даже ночью или
                            в праздничные дни.
                        </li>
                        <li class="list-group-item">
                            Минимум стресса для домашнего любимца. Если
                            животное плохо себя чувствует, смена обстановки не пойдёт ему на пользу. Осмотр
                            и проведение процедур будет проводиться в привычных условиях, что позволит
                            спокойнее перенести лечение.
                        </li>
                        <li class="list-group-item">
                            Минимум риск заражения инфекциями,
                            поскольку животное не контактирует с другими в приемной ветклиники. Особенно это
                            важно во время плановой вакцинации, а также для питомцев со слабым иммунитетом.
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 bg-gray p-5">
                    <h1 class="display-5">
                        <b>Услуги проводимые на дому</b>
                    </h1>

                    <br />
                    <p class="text-justify lh-lg pt-2">
                        На дом ветеринары оказывают все те же услуги, что и в клинике.
                        <br />
                        Исключениями являются только оперции и исследованя, требующие
                        стационарного оборудования.
                    </p>

                    <ul class="list-group list-group-flush font-weight-light text-justify lh-lg pt-2">
                        <li class="list-group-item">
                            Экстренная помощь. Бригады скорой ветеринарной помощи и их трнспорт
                            оборудованы всем необходимым для оказания срочной помощи и реанимации.
                        </li>
                        <li class="list-group-item">
                            Диагностика и анализы. Современное портативное оборудование сделало возможным
                            проводить дома многие виды аппаратной диагностики - УЗИ, ЭКГ, рентген.
                            Мы сотрудничаем с лучшими лабораториями. Ветврач произведет забор
                            материалов, а результаты вы получите по электронной почте
                        </li>
                        <li class="list-group-item">
                            Терапевтическое лечение. Большинство проблем с животными могут быть решены с помощью
                            медикаментов и процедур в домашних условиях. Так питомцы чувстуют себя в безопасности и
                            не испытывают стресса. Если потребуется, на дом может выехать и узкий специалист:
                            офтальмолог, дерматолог, кардиолог и т.д.
                        </li>
                        <li class="list-group-item">
                            Хирургия. В домашних условиях, конечно, нет возможности проводить большинствво
                            операций, но наши доктора окажут вашему питомцу первую помощь при травмах; при необходимости
                            подготовят егок транспортировке и доставят в стационар.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid blue-block pt-5 pb-5">
        <div class="container table-responsive">
            <h6 class="text-center display-4 pt-4 pb-5">
                Отзывы
            </h6>
            <div class="row">
                <div class="col-md-4 py-md-5 py-5">
                    <div class="card">
                        <div class="card-image">
                            <img src="./logo.png" class="card-img">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Кристюшечка Хаертдинова</h5>
                            <p class="card-text">Спасибо большое вашей клиники, а особенно Шлянику Евгению Вадимовичу, в лечении нашего котёнка. После операции чувствует себя прекрасно!</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 py-md-5 py-5">
                    <div class="card">
                        <div class="card-image">
                            <img src="./logo.png" class="card-img">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Руслан Ибрагимов</h5>
                            <p class="card-text">
                                Спасибо огромное Шляпнику Евгению
                                Вадимовичу. За его профессионализм.
                                Вылечил моего Тимку. И всегда поможет
                                советом. Спасибо ещё раз
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 py-md-5 py-5">
                    <div class="card">
                        <div class="card-image">
                            <img src="./logo.png" class="card-img">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Дмитрий Недоростков</h5>
                            <p class="card-text">
                                Отличнейшая клиника, с очень
                                профессиональными сотрудниками, болел
                                щенок, был на грани смерти, сделали всё в
                                лучшем виде, на протяжении лечения одна мед
                                сестра лично довела ценные советы по лечению
                                (бесплатно), а такие советы на вес золота, всем
                                рекомендую.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
