@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid block">

    <div class="background img1">
        <div class="block-left">
            <h6 class="display-6">
                «Мы заботимся о самом ценном»
            </h6>
            <br />
            <h1 class="display-2">
                <b>Ветеренарная клиника в городе Темиртау</b>
            </h1>
            <br />
            <h6 class="display-6">
                Каждое 20 число месяца льготная стерилизация кошек и кастрация котов
            </h6>
    
            <button class="btn-lg btn-primary send-offer" onclick='window.location.href=/Home/Contacts'>Записаться на приём</button>
        </div>
    </div>

    <div class="background img2">

    </div>


    <div class="background img3">
    </div>

</div>
