@{
    ViewData["Title"] = "Отзывы";
}


<div class="container-fluid blue-block pt-5 pb-5">
    <div class="container table-responsive">
        <h6 class="text-center display-4 pt-4 pb-5">
            Отзывы
        </h6>
        <div class="row">
            <div class="col-md-4 py-md-5 py-5">
                <div class="card">
                    <div class="card-image">
                        <img src="logo.png" class="card-img">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Кристюшечка Хаертдинова</h5>
                        <p class="card-text">Спасибо большое вашей клиники, а особенно Шлянику Евгению Вадимовичу, в лечении нашего котёнка. После операции чувствует себя прекрасно!</p>
                    </div>
                </div>

            </div>

            <div class="col-md-4 py-md-5 py-5">
                <div class="card">
                    <div class="card-image">
                        <img src="logo.png" class="card-img">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Руслан Ибрагимов</h5>
                        <p class="card-text">
                            Спасибо огромное Шляпнику Евгению
                            Вадимовичу. За его профессионализм.
                            Вылечил моего Тимку. И всегда поможет
                            советом. Спасибо ещё раз
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 py-md-5 py-5">
                <div class="card">
                    <div class="card-image">
                        <img src="logo.png" class="card-img">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Дмитрий Недоростков</h5>
                        <p class="card-text">
                            Отличнейшая клиника, с очень
                            профессиональными сотрудниками, болел
                            щенок, был на грани смерти, сделали всё в
                            лучшем виде, на протяжении лечения одна мед
                            сестра лично довела ценные советы по лечению
                            (бесплатно), а такие советы на вес золота, всем
                            рекомендую.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>