@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid background">
    <div class="container-fluid mb-5">
        <h5 class="display-6">Наши услуги</h5>
    </div>

    <div class="container split">
        <div class="container">

            <div class="card border-dark mb-3">
                <div class="card-header">
                    <h6 class="font-weight-light">
                        ПРЕИМУЩЕСТВА ВЫЗОВА ВЕТЕРИНАРА НА ДОМ
                    </h6>
                </div>

                <div class="card-body">
                    <p class="card-title font-weight-light">
                        Вызывная ветслужба - 
                    это отличная альтернатива обращения с питомцем в клинику.<br />
                    Приезд ветеринара на дом имеет следующие преимущества:
                    </p>

                    <ul class="list-group list-group-flush card-text font-weight-light">
                        <li class="list-group-item">
                            Экономия времени на транспортировку питомца
                            в клинику и обратно, ожидание своей очереди. Даже предвартельная
                            запись к врачу не дает гарантии, что питомца примут в точно назначенное время.
                        </li>
                        <li class="list-group-item">
                            Экономия средств на перевозку животного.
                            Особенно это актуально для тех, кто не имеет собственного транспорта
                            и вынужден пользоваться услугами такси.
                        </li>
                        <li class="list-group-item">
                            Возможности получить помощь круглосуточно.
                            Ветеринар приедет на дом в удобное для вас время, даже ночью или
                            в праздничные дни.
                        </li>
                        <li class="list-group-item">
                            Минимум стресса для домашнего любимца. Если
                            животное плохо себя чувствует, смена обстановки не пойдёт ему на пользу. Осмотр
                            и проведение процедур будет проводиться в привычных условиях, что позволит
                            спокойнее перенести лечение.
                        </li>
                        <li class="list-group-item">
                            Минимум риск заражения инфекциями,
                            поскольку животное не контактирует с другими в приемной ветклиники. Особенно это
                            важно во время плановой вакцинации, а также для питомцев со слабым иммунитетом.
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="container">

            <div class="card border-dark mb-3">
                <div class="card-header">
                    <h6 class="font-weight-light">
                        УСЛУГИ ПРОВОДИМЫЕ НА ДОМУ
                    </h6>
                </div>

                <div class="card-body">
                    <p class="card-title font-weight-light">
                        На дом ветеринары оказывают все те же услуги, что и в клинике.
                    Исключениями являются только оперции и исследованя, требующие 
                    стационарного оборудования.</p>

                    <ul class="list-group list-group-flush card-text font-weight-light">
                        <li class="list-group-item">
                            Экстренная помощь. Бригады скорой ветеринарной помощи и их трнспорт
                            оборудованы всем необходимым для оказания срочной помощи и реанимации.
                        </li>
                        <li class="list-group-item">
                            Диагностика и анализы. Современное портативное оборудование сделало возможным
                            проводить дома многие виды аппаратной диагностики - УЗИ, ЭКГ, рентген.
                            Мы сотрудничаем с лучшими лабораториями. Ветврач произведет забор
                            материалов, а результаты вы получите по электронной почте
                        </li>
                        <li class="list-group-item">
                            Терапевтическое лечение. Большинство проблем с животными могут быть решены с помощью
                            медикаментов и процедур в домашних условиях. Так питомцы чувстуют себя в безопасности и
                            не испытывают стресса. Если потребуется, на дом может выехать и узкий специалист:
                            офтальмолог, дерматолог, кардиолог и т.д.
                        </li>
                        <li class="list-group-item">
                            Хирургия. В домашних условиях, конечно, нет возможности проводить большинствво
                            операций, но наши доктора окажут вашему питомцу первую помощь при травмах; при необходимости
                            подготовят егок транспортировке и доставят в стационар.
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>